body {
    background-color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.main-appsus {
    background-color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.active {
    color: white;
    font-weight: 500;
}

.keep-filter-search {
    margin-left: 30px;
}

.keep-filter-drop {
    margin-left: 5px;
}

#by-type {
    margin-left: 5px;
}