.app-footer {
    bottom: 0px;
    width: 100vw;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    color: black;
    margin-top: 5px;
  }

  h1 {
    padding-left: 30px;
  }
  
  span {
    padding-right: 30px;
  }

  .input-container {
    background-color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 30px;
  }
  
  .input-pick {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
  }