h1 {
text-align: center;
}

h3 {
    text-align: center;
}

.links-to-pages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top:30px
}

.link {
        display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    justify-content: center;
    font-size: 50px;
    text-align: center;

}

