/* .home {
    height: 70%;
} */

h1 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    text-align: center;
}

a {
    line-height: 200px;
    vertical-align: middle;
}

.links-to-pages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 30px
}

.link {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    justify-content: center;
    font-size: 50px;
    text-align: center;
}