.keep {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.keep .keep-text {
    display: flex;
    flex-direction: column;
    background-color: khaki;
    text-align: center;
    min-width: 150px;
}

.keep .keep-video {
    display: flex;
    flex-direction: column;
    background-color: firebrick;
    text-align: center;
}

.keep .keep-img {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
}

.keep .keep-todo {
    display: flex;
    flex-direction: column;
    background-color: salmon;
    text-align: center;
    min-width: 150px;
}

.preview-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5px;
}

.preview-nav input #by-type {
    border: none;
    border-radius: 5px;
    color: black;
    padding-left: 5px;
}

.preview-nav button {
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.keep-preview {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.add-btn {
    display: flex;
    padding: 0px;
}

.delete-btn {
    height: 20px;
    background-color: sandybrown;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    width: 50px;
    display: flex;
}

.delete-btn:hover {
    background-color: tomato;
}

.form-add button {
    height: 40px;
    background-color: lightskyblue;
    border-radius: 5px;
    border: none;
}

.form-add button:hover {
    background-color: deepskyblue;
}

.add-btn button {
    height: 40px;
    background-color: lightskyblue;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
}

.add-btn button:hover {
    background-color: deepskyblue;
}

.keep-preview img {
    width: 100%;
}

.keep-preview .todo-p {
    padding: 0px;
    margin: 2px;
}

.keep-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-top: 50px;
}

.keep-filter-search {
    padding: 0px;
    border-radius: 5px;
    display: flex;
}

select {
    border: none;
    height: 40px;
    border-radius: 5px;
}

#by-type {
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: unset;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}

.todo-p {
    text-align: left;
    width: 100%;
}

.form-add input {
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}