.keep-preview {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
}

.keep-preview img{
    width: 100%;
}

.keep-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top:30px
}