/* .mail-list{

  width: fit-content;
  
  gap: 15px;
}
.mail-preview{
    width: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px;
    text-align: center; 
}

h3 {
    text-align: left;
} */