.side-nav {
    height: 60%;
    width: 100%;
    list-style: none;
}

aside{
    margin-right: 30px;
    height: 100%;
}
ul{
    display: flex;
}

.clean-list {
    
    /* size: 50%;
    width: 100%;
    height: 100%; */
    flex-direction: column;
    
    gap: 20px;
    margin-top: 20px;
    
    
}












/* .side-nav {
    height: 60%;
    width: 100%;
}

.side-nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    list-style: none;
    
}

.side-nav li {
    width: 80%;
    list-style-type: none;
}


.side-nav a {
    width: 100%;
    background-color: rgb(245, 241, 241);
    gap: 5px;
    border-radius: 20px;
    padding-inline-start: 10px;
}

.side-nav a:hover {
    background-color: rgb(209, 204, 204);
}

.side-nav a.active {
    background-color: rgb(177, 165, 165);
} */
aside ul{
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
